<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hydrant_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{171,123}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{171,123}}</string>
                <key>sourceSize</key>
                <string>{187,123}</string>
            </dict>
            <key>hydrant_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,120}}</string>
                <key>sourceSize</key>
                <string>{182,120}</string>
            </dict>
            <key>hydrant_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{179,115}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{179,115}}</string>
                <key>sourceSize</key>
                <string>{183,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hydrant.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d61dbdb651dbf60271549365b38091f3$</string>
            <key>textureFileName</key>
            <string>hydrant.png</string>
        </dict>
    </dict>
</plist>
